<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link href="{% static 'weui-2.1.2/dist/style/weui.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'jquery/jquery-3.4.1.js' %}"></script>

</head>
<body>

<div class="page" >
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel">

            </div>
            <div class="weui-tabbar" style="z-index: 1000;position: fixed;left: 0;bottom: 0;width: 100%;height: 50px;text-align: center;">
                <a href="javascript:;" class="weui-tabbar__item ">
                    <span style="display: inline-block;position: relative;">
                        <img src="/static/weui-2.1.2/dist/example/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">

                    </span>
                    <p class="weui-tabbar__label">订课</p>
                </a>
                <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                    <img src="/static/weui-2.1.2/dist/example/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">上课</p>
                </a>
                <a href="javascript:;" class="weui-tabbar__item">
                    <img src="/static/weui-2.1.2/dist/example/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">我</p>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('.weui-tabbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        });
    });
</script>

</body>
</html>